@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;600;700&display=swap');

/**
*  TODO ============================================ INITIAL STYLES
*/
:root {

    --me_gray: #f4f4f4;
    --eerie: #1c1c1c;
    --me_white: #fff;
    --tripleSeven: #777;
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --light-slate: #a8b2d1;
    --slate: #8892b0;
    --clr-biege: #f9f4da;
    --clr-blue: #12b5e5;
    --clr-orange: #fc7428;
    --clr-red: #ed203d;
    --clr-green: #0ba95b;

    --scroll-padding: 4.2rem;
    --chivo-mono: 'Chivo Mono', monospace;

    /* SIZES */
    --SIZE8: 8rem;
    --SIZE6: 6rem;
    --SIZE4: 4rem;
    --SIZE5: 5rem;
    --SIZE3: 3rem;
    --SIZE2-6: 2.6rem;
    --SIZE2: 2rem;
    --SIZE1-8: 1.8rem;
    --SIZE1-6: 1.6rem;
    --SIZE1-4: 1.4rem;
    --SIZE1: 1rem;
    --SIZE0-7: 0.7rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--chivo-mono);
    font-size: var(--TINNY-SIZE);
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
}
/**
* !============================================ COMMON STYLES
*/

section {
    min-height: 100vh;
    width: 100%;
    background-color: var(--dark-navy);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 80%;
    color: var(--slate);

}

#home {
    background-color: var(--dark-navy);
    font-size: var(--SIZE1-8);
}

#about {
    background-color: var(--me_white);
    font-size: var(--SIZE1-4);
}

#skills {
    background-color: var(--dark-navy);
}

#portfolio {
    background-color: var(--me_white);
    font-size: var(--SIZE1-4);
}

#contact {
    background-color: var(--dark-navy);
}

#blogs {
    background-color: var(--me_white);
}

#footer {
    background-color: var(--eerie);
}

/**
* TODO ============================================ NAV STYLES
*/
.header_nav {
    position: sticky;
    top: 0;
    background-color: var(--navy);
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
.header_nav ul li {
    display: inline-block;
}
.header_nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    color: var(--slate);
    font-size: var(--SIZE2);
    text-transform: uppercase;
    font-weight: 700;
}
.header_nav ul li.active {
    background-color: var(--light-navy);
    transition: 0.3s ease background-color;
}
.header_nav ul li.active a {
    color: rgb(255, 255, 255);
}

@media(max-width:480px),
(max-width:768px) {

    .nav_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: var(--SIZE0-7);

    }

    .header_nav ul li a {
        display: inline-block;
        text-decoration: none;
        padding: 10px 20px;
        color: black;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 700;
    }
}



/**
* !============================================ HOME STYLE
*/

.home_content {}

.home_hello {
    display: flex;
    justify-content: center;
    font-size: var(--SIZE6);
    margin-bottom: var(--SIZE2);
}

.home_title {
    padding: var(--SIZE0-7);
    border-right: 10px solid var(--clr-blue);
}

.home_message {
    padding: var(--SIZE3);
}

.homeMessageIam {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.home_my_name {
    font-size: var(--SIZE4);
}

/**
* TODO:======================================== HOME MEDIA
*/

@media(max-width:480px),
(max-width:768px) {
    .content {
        width: 90%;

    }

    .homeMessageIam {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 1rem;
        text-align: justify;
    }

    .home_hello {
        display: flex;
        justify-content: center;
        font-size: var(--SIZE3);
        margin-bottom: var(--SIZE2);
    }

    .home_title {
        border-right: none;
        padding: 1rem 0;
        border-right: none;
        border-bottom: 10px solid var(--clr-blue);

    }

    .home_message {
        padding: 1rem 0;
    }

    .home_my_name {
        font-size: var(--SIZE2);
    }
}


/**
* !============================================ ABOUT STYLE
*/
.about_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: var(--SIZE3) 0;
}

.let_about_card_title {
    font-size: var(--SIZE4);
    font-weight: 700;
    color: var(--eerie);
    text-align: center;
    margin: 1rem 0;
    text-transform: uppercase;
}

.about_message {
    text-align: justify;
    padding: var(--SIZE2);
    border-radius: var(--SIZE1);
    border: 1px solid var(--tripleSeven);
    background-color: var(--reactNav);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: var(--SIZE3) 0;
    background-color: var(--navy);
}

.about_images img {
    border: 1px solid var(--tripleSeven);
    padding: var(--SIZE1);
    border-radius: 10px;
}
.about_right_right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_socilaMedia {
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    justify-content: space-evenly;
    width: 100%;
}

.githubIcon {
    color: var(--eerie);
}

.linkedinIcon {
    color: #0072b1;
}

.emailIcon {
    color: var(--clr-red);
}

.twitterIcon {
    color: rgb(29 161 242);
}

.mapIcon {
    color: var(--clr-orange);
}

/**
* TODO:======================================== ABOUT MEDIA
*/

@media(max-width:480px),
(max-width:768px) {

    .about_cards {
        display: flex;
        flex-direction: column;
    }

    .let_about_card_title {
        font-size: var(--SIZE2);
    }

    .about_message {
        text-align: justify;
    }

    .about_images img {
        max-width: 100%;
    }
}

/**
* !============================================ SKILLS STYLE
*/
.skillsIcons {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 70%;
    margin: 0 auto var(--SIZE3);
}

.skillsIcons img {
    padding: 10px;
    background-color: var(--light-navy);
    border-radius: 10px;
}

.skills_title {
    font-size: var(--SIZE2-6);
    text-align: center;
    place-items: center;
    display: flex;
    justify-content: center;
    margin: var(--SIZE3) 0;
}
.skills_Icon_Desc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.skill_name_desc{
    display: grid;
    place-items: center;
}
.skillsName {
    width: 100%;
    background-color: var(--dark-navy);
    text-align: center;
    padding: 5px;
    margin: 5px 0;
    color: var(--clr-blue);
  }
.skill_div{
    border: 1px solid var(--tripleSeven);
    border-radius: 10px;
    padding: 10px 0;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--navy);
}
/**
* TODO:======================================== SKILLS MEDIA
*/
@media(max-width:480px),
(max-width:768px) {
    .skills_title {
        font-size: var(--SIZE1);

        margin: var(--SIZE2) 0;
    }

    .skillsIcons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
        margin: 0 auto;
        min-height: 50rem;
    }

    .skillsIcons img {
        margin: 13px;
    }

}

